@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    
}

.container{
    width: 250px;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin: 50px auto;
    font-family: outfit, sans-serif;
    position: relative;
}
.image-view{
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.4);
    top: 20px;
    left: 20px;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-view:hover{
    opacity: 1;
    cursor: pointer;
}

.equilibrium-image img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    
}

.image-name{
    color: white;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    transition: color .3s;
    display: inline-block;
}

.image-name:hover,
.creator-name:hover{
color: hsl(178, 100%, 50%);
cursor: pointer;
}


.description{
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    line-height: 22px;
}
.svg-box{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
position: relative;
}

.svg-box::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -12px;
    background-color: hsla(215, 52%, 70%, 0.151);
}
svg{
    margin-right: 5px;
    vertical-align: text-top;
    padding-top: 2px;
}
.ETH-value{
    color: hsl(178, 100%, 50%);
    font-size: 15px;
}
.creator-name{
    color: white;
    margin-left: 5px;
    font-size: 15px;
    transition: color .3s;
}
.creator img{
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 10px;
    
}
.creator{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin-top:20px;
    word-spacing: 1px;
}
